name: Publish War3App.MapAdapter

on:
  workflow_dispatch:

env:
  DOTNET_VERSION: '8.0.x'
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Get version from csproj
      run: |
        VERSION=$(grep '<Version>' src/War3App.MapAdapter/War3App.MapAdapter.csproj | cut -d'>' -f2 | cut -d'<' -f1)
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        if [ "${{ github.ref_name }}" != "master" ]; then
          VERSION_SUFFIX="-${{ github.ref_name }}"
        else
          VERSION_SUFFIX=""
        fi
        echo "VERSION_SUFFIX=$VERSION_SUFFIX" >> $GITHUB_ENV

    - name: Publish project (windows forms)
      run: dotnet publish src/War3App.MapAdapter.WinForms/War3App.MapAdapter.WinForms.csproj -c Release -r win-x64 --self-contained false -o ./artifacts/map-adapter-winforms

    - name: Create zip (windows forms)
      run: cd ./artifacts/map-adapter-winforms && zip -r ../MapAdapter-Windows-v${{ env.VERSION }}.zip .

    - name: Publish project (eto forms gtk)
      run: dotnet publish src/War3App.MapAdapter.EtoForms.Gtk/War3App.MapAdapter.EtoForms.Gtk.csproj -c Release -o ./artifacts/map-adapter-etoforms-gtk

    - name: Create zip (eto forms gtk)
      run: cd ./artifacts/map-adapter-etoforms-gtk && zip -r ../MapAdapter-Linux-v${{ env.VERSION }}.zip .

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2.3.2
      with:
        name: War3App.MapAdapter v${{ env.VERSION }}${{ env.VERSION_SUFFIX }}
        tag_name: mapadapter-v${{ env.VERSION }}${{ env.VERSION_SUFFIX }}
        files: |
          ./artifacts/MapAdapter-Windows-v${{ env.VERSION }}.zip
          ./artifacts/MapAdapter-Linux-v${{ env.VERSION }}.zip
        draft: ${{ github.ref_name != 'master' }}